body{
margin:0;
font-family:Arial;
background:black;
color:white;
overflow-y:scroll;
scroll-snap-type:y mandatory;
}

.title{
position:fixed;
top:10px;
left:20px;
z-index:10;
}

.meme-container{
height:100vh;
}

.meme{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
scroll-snap-align:start;
}

.meme img{
max-height:90vh;
max-width:90vw;
border-radius:10px;
}
